<a href="https://colab.research.google.com/github/Jma374/BTE-320/blob/main/Lecture_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print displays a message on screen. whatever provided is always outputed out of function as STRING
# 5 Inputs 4 named ones and 1 not named. Objects that want to display on screen
Print(obj(s),sep=" ", end = "\n", file, flash)
print area
print ("area=", area)
          obj1, obj2

In [ ]:
area = 10
print("Area=", area sep='---')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-2-c97c8e163d6a>, line 2)

In [ ]:
"Area="+" "str(area)+"ln"

In [ ]:
# print to string objects. all rest of parameters keep their default values
print('Good night', ' and good luck')

#change default seperator to ---
print( 'good night', 'and goof luck', sep="---")

#change default end character to empty space
print ('good morning')
print ('good night', 'and good luck...', end='')
print('good morning\n again')

Good night  and good luck
good night---and goof luck
good morning
good night and good luck...good morning
 again

In [ ]:
area = 10
"area = "+" "+ str(area)+ "\n"

'area =  10\n'

In [ ]:
# print a given value
pi =3.14
e = 2.71
print ('The value of pi is', pi, 'and the vlaue of Euler number is', e)

In [ ]:
#obj.methodName (...)
#"....{}.....{}" format (pi, e)

In [ ]:
f"....{pi}....{e}"

In [ ]:
pi =3.14
e = 2.71
# format
print ('the vlaue of pi is {}, and the value of Euler number is {}'.format(pi,e))

# f-strings
print (f'the value of pi is {pi}, and the value of Euler number is {e}')

the vlaue of pi is 3.14, and the value of Euler number is 2.71
the value of pi is 3.14, and the value of Euler number is 2.71

In [ ]:
name = input ('enter your name')
print ('hi', name)
type (name)

enter your nameJuan
hi Juan

str

In [ ]:
n = int(input('enter an interger value:'))
print (type(n), n)

enter an interger value:3
<class 'int'> 3

CONDITIONALS AND ITERATIONS

In [ ]:
 N=1 #ASSIGNMENT
 N==2 #COMPARISON

initial statements

if condition:
  Statements

In [ ]:
userInput= float(input('enter a number'))
if userInput > 0:
  print(f'{userInput} is positive')

enter a number0

ALternative path:
else:
  statement

float = all numbers
  int= only intergers

In [ ]:
userInput= float(input('enter a number'))
if userInput > 0:
  print(f'{userInput} is positive')
else:
  print(f'{userInput} is negative or 0')

enter a number-1
-1.0 is negative or 0

**ELIF condition:**
  
  statements


**else**:

  statements

**IF:** ONE

**ELIF**: as many

**Else:** 0,1

In [ ]:
userInput= float(input('enter a number'))
if userInput > 0:
  print(f'{userInput} is positive')
elif userInput<0:
  print (f'{userInput} is negative')
else:
  print(f'{userInput} is zero')

enter a number0
0.0 is zero

In [ ]:
userInput= float(input('enter grade'))
if userInput >97:
  print('A')
elif userInput >=93:
    print('A')
elif userInput >=90:
  print('A-')
else:
  print('B+')

enter grade85
B+

In [ ]:
userInput= float(input('enter number'))
if userInput%2 ==0:
  print('even')
else:
  print("odd")

In [ ]:
userInput= float(input('enter Loan amount'))
if userInput > 10000:
  print(3.5)
elif 1000 < userInput <= 10000:
  print(3.2)
else:
  print(3.0)

enter Loan amount10000
3.2

In [ ]:
#Step 1: Input deposite amount
deposit = float(input('Enter the deposite amount ($): '))

# Step 2: Decide interest rate
if deposit > 10000:
  ir = 3.5
elif deposit > 1000:
  ir = 3.25
else:
  ir = 3.0

# Step 3 Display total amount after interest rate is applied
total = (1 + ir/100) * deposit
print (f' Total after interest applied: {round(total)} $')

Enter the deposite amount ($): 15000
 Total after interest applied: 15525 $

**Nested Conditionals**

In [ ]:
if x%2 == 0: # <-- first checks if x%2 equals to zero
    if x%3 == 0: # <-- if x%2 indeed equals to zero, then checks if x%3 is also zero
        print('Divisible by 2 and 3') #6
    else:
        print('Divisible by 2 and not by 3') #4
elif x%3 == 0:
    print('Divisible by 3 and not by 2') #9
else:
    print('Not divisible by either 2 or 3') #7
```

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

color('black', 'green')
begin_fill()

for i in range  (4):
forward(100)
left(90)

end_fill()

ModuleNotFoundError: No module named 'ColabTurtlePlus'

In [ ]:
for i in range (1, 13, 1):
 print (i)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
for i in range (10, 2 -5):
  print (i)

In [ ]:
for i in range (1,9):
 r = 5 + 2.5 * i
 print (r,i)

 if r> 20:
  false
  if r< 10:
    false

7.5 1
10.0 2
12.5 3
15.0 4
17.5 5
20.0 6
22.5 7
25.0 8

In [ ]:
i = 1
n = 5
while i < n:
  print (i)
  i= i + 1

1
2
3
4

In [ ]:
UserInput=input("Play Game?")
while UserInput== "y":
  game
userinput=

In [ ]:
import random

user_choice = input("Enter your choice (rock, paper, or scissors): ")
computer_choice = random.choice(["rock", "paper", "scissors"])

print(f"You chose: {user_choice}")
print(f"Computer chose: {computer_choice}")

if user_choice == computer_choice:
    print("It's a tie!")
elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
  ):
    print("You win!")
else:
    print("Computer wins!")

UserInput=input("Play another game? Y/N")

while UserInput== "Y":


  user_choice = input("Enter your choice (rock, paper, or scissors): ")
  computer_choice = random.choice(["rock", "paper", "scissors"])

  print(f"You chose: {user_choice}")
  print(f"Computer chose: {computer_choice}")

  if user_choice == computer_choice:
    print("It's a tie!")
  elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
  ):
      print("You win!")
  else:
      print("Computer wins!")
  UserInput=input("Play another game? Y/N")

  if Userinput == "N"
    break

Enter your choice (rock, paper, or scissors): paper
You chose: paper
Computer chose: scissors
Computer wins!
Play another game? Y/NY
Enter your choice (rock, paper, or scissors): rock
You chose: rock
Computer chose: scissors
You win!
Play another game? Y/NN

In [ ]:
down= 100000
deposit= 10000
n_months = 0

while deposit < down
deposit = deposit + amount
n_months = n_months + 1

In [ ]:
if userinput =="Y":
  continue

  #any code below is ingonred and goes back to while above